@charset "UTF-8";
*{
	margin: 0px;
	padding: 0px;
	font-family: arial;
}
body{  background-color: #DFDFDF;
	position: relative;
	width: 100%;
	padding-top: 36px;
}
.menu{
	position: fixed;
	background-color: #33278D;
	margin-top:-36px;
	width: 100%;
	z-index: 1;
	box-shadow: 1px 1px 6px rgba(0,0,0, .5);
}
.menu img{
	position: relative;
	display: block;
	height: 36px;
	margin: 0 auto;
}
.agendar{
	background-color: white;
	display: block;
	position: relative;
	width: 80%;
	margin: 0 auto;
	border-radius: 10px;
	text-align: center;
	margin-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: 1px 1px 6px rgba(0,0,0, .5);
}
.agendar h1, h2, button{
	position: relative;
}
.agendar h1{
	font-family: Arial black;
	font-size: 100%;
	padding-top: 5px;
}
.agendar h2{
	font-size: 100%;
	font-family: Arial;
}
.agendar button{
	font-family: Arial black;
	border:none;
	border-radius: 10px;
	width: 100%;
	font-size: 200%;
	position: relative;
	background-color: #33278D;
	color: white;
}
.caixa{

	background-color: white;
	display: block;
	position: relative;
	width: 80%;
	margin: 0 auto;
	border-radius: 10px;
	text-align: center;
	margin-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: 1px 1px 6px rgba(0,0,0, .5);
}
.basec{
	background-color: white;
	display: block;
	position: relative;
	width: 80%;
	margin: 0 auto;
	border-radius: 10px;
	margin-top: 10px;
	padding: 10px;
	box-shadow: 1px 1px 6px rgba(0,0,0, .5);
}
.basec h1{
	text-align: center;
	color: #4B4B4D;
	font-family: arial black;
	font-size: 200%;
	text-transform: uppercase;
	text-decoration: underline;
}
.basec img{
		width: 100%;
		margin-bottom: 5px;
}
.basec .ol{
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.basec .li{
	list-style: none;
	display: inline-block;
	position: relative;
	width: 30%;
	margin: 10px 0px 10px 0px;
	padding: 5px;
	color: #4B4B4D;
	font-family: arial black;
}
.li figcaption{
	background-color: #33278D;
	position: relative;
	display: block;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	color: white;
	font-family: arial;

}













@media only screen and (max-width: 600px) {
	.basec .li{
		width: 80%;
		height: 60%;
	}
	.basec img{
		width: 100%;
		margin-bottom: 5px;
	}
}
