@charset "UTF-8";
*{
	margin: 0px;
	padding: 0px;
	font-family: arial;
}
body{  background-color: #143850;
	position: relative;
	width: 100%;
	padding-top: 44px;
}
.menu{
	position: fixed;
	background-color: #095E7D;
	margin-top:-44px;
	width: 100%;
	z-index: 1;
	box-shadow: 1px 1px 6px rgba(0,0,0, .5);
	text-align: center;
}
.menu h1 {
	position: relative;
	display: block;
	font-family: arial black;
	color: white;
}
.agendar{
	background-color: white;
	display: block;
	position: relative;
	width: 80%;
	margin: 0 auto;
	border-radius: 10px;
	text-align: center;
	margin-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: 1px 1px 6px rgba(0,0,0, .5);
}
.agendar h1, h2, button{
	position: relative;
}
.agendar h1{
	font-family: Arial black;
	font-size: 120%;
	padding-top: 5px;
	color: #143850;
}
.agendar button{
	font-family: Arial black;
	border:none;
	border-radius: 10px;
	width: 100%;
	font-size: 200%;
	position: relative;
	background-color: #1F92B1;
	color: white;
	margin-bottom:8px;
}
.agendar iframe{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}
.caixa{

	background-color: white;
	display: block;
	position: relative;
	width: 80%;
	margin: 0 auto;
	border-radius: 10px;
	text-align: center;
	margin-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: 1px 1px 6px rgba(0,0,0, .5);
}
.caixa h1{
	text-align: center;
	color: #143850;
	font-family: arial black;
	font-size: 150%;
	text-transform: uppercase;
	position: relative;
}
.caixa #entraNum{
	position: relative;
	display: inline-block;
	height: 25px;
	width: 30%;
	text-align: center;
	border-radius: 5px;
}
.caixa #msgOpc{
	position: relative;
	display: inline-block;
	height: 25px;
	width: 40%;
	text-align: center;
	border-radius: 5px;
}
.caixa button{position: relative;
   	 display: inline-block;
   	 height: 29px;
	 width: 20%;
   	 font-family: Arial black;
  	 border: none;
   	 border-radius: 5px;
	 background-color: #1F92B1;
    	 color: white;
    	 margin-bottom: 8px;
}
.basec{
	background-color: white;
	display: block;
	position: relative;
	width: 80%;
	margin: 0 auto;
	border-radius: 10px;
	margin-top: 10px;
	padding: 10px;
	box-shadow: 1px 1px 6px rgba(0,0,0, .5);
}
.basec h1{
	text-align: center;
	color: #143850;
	font-family: arial black;
	font-size: 200%;
	text-transform: uppercase;
	text-decoration: underline;
}
.basec iframe{
		width: 100%;
		margin-bottom: 5px;
}
.basec .ol{
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.basec .li{
	list-style: none;
	display: inline-block;
	position: relative;
	width: 30%;
	margin: 10px 0px 10px 0px;
	padding: 5px;
	color: #143850;
	font-family: arial black;
}
.li figcaption{
	background-color: #1F92B1;
	position: relative;
	display: block;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
	color: white;
	font-family: arial;

}
footer div{
	background-color: #095E7D;
	position: relative;
	display: block;
	width: 100%;
	height: 40px;
	margin-top: 10px;
	text-align: center;

}
footer div img{
	position: relative;
	display: inline-block;
	height: 70%;
	top: 50%;
	transform: translate(0,-50%);
	margin: auto 5px;
}
footer h2{
	position: relative;
	display: inline-block;
	font-family: arial;
	color: #1F92B1;
	font-size: 100%;
}












@media only screen and (max-width: 600px) {
	.basec .li{
		width: 80%;
		height: 60%;
	}
	.basec iframe{
		width: 100%;
		margin-bottom: 5px;
	}
}
