@charset "UTF-8";
@font-face {
    font-family: "gadugigi";
    src: url("gadugi.ttf");
  }

body{
    background-color: #D2D3D5;
}
*{
    padding: 0;
    margin: 0;
}
#cabecalho{
    position: fixed;
    background: rgb(166,3,192);
    background: linear-gradient(90deg, rgba(166,3,192,1) 0%, rgba(249,164,55,1) 82%);
    padding: 10px 0 10px 0;
    text-align: center;
    width: 100%;
    z-index: 5;
}
#cabecalho h2{
    font-family: gadugi;
    font-size: 250%;
    color: white;
}
/*        Contra cabecalho ----------------------------------------------*/

#cabecalhoContra{
    background: rgb(166,3,192);
    background: linear-gradient(90deg, rgba(166,3,192,1) 0%, rgba(249,164,55,1) 82%);
    padding: 10px 0 10px 0;
    text-align: center;
    display: block;
    position: relative;
    width: 100%;
    visibility: hidden;
}

#cabecalhoContra h2{
    font-family: gadugigi;
    font-size: 250%;
    color: white;
}
/*           contra cabecalho ------------------------------------------------------------*/
#sectionBase{
    position: relative;
}
#imgSection img{
    position: relative;
    width: 100%;
}
#sectionBase{
    background-color:transparent;
    position: absolute;
    display: block;
    width: 100%;
    top: 18%;
}
#contPrinc{
    display: block;
    position: relative;
    background-color: white;
    width: 90%;
    margin: 0 auto;
    border-radius: 8px;
    padding: 20px;
}
#sobreMim{
    display: flex;
    flex-wrap: nowrap;
    position: relative;
}
#sobreMim h3{
    font-family: gadugigi;
    font-size: 20pt;
    color: #4B4B4D;
}
#sobreMim p{
    font-family: gadugigi;
}
#sobreMim #txtGrup,img{
    flex: 1 1 auto;
}
#sobreMim img{
    position: relative;
    max-width: 170px;
    border:3px solid rgba(249, 165, 55, 0.795);
    border-radius:50%;
}
#controltxt{
    display: block;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}
#txtGrup{
    position: relative;
    display: block;
}
#insUl{
    color: white;
}
#insUl li{
    color:#4B4B4D;
    font-family: gadugigi;
    margin:18px auto 0 18px;
}
#orgServcs{
    font-family: gadugigi;
}
#orgServcs h3{
    font-family: gadugigi;
    font-size: 20pt;
    color: #4B4B4D;
}
#orgServcs h3::before{
    content:'';
    width: 100%;
    height: 5px;
    background-color:#4b4b4d81;
    position: relative;
    display: block;
    margin-top: 10px;
    border-radius: 5px;
}
